body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", arial;
  background: #222;
  background: rgb(1, 1, 6);
  background: linear-gradient(
    90deg,
    rgba(1, 1, 6, 1) 0%,
    rgba(9, 9, 121, 1) 47%,
    rgba(0, 80, 96, 1) 100%
  );
  background: linear-gradient(to right, #000000, #434343);
  color: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Montserrat", arial;
}

.none {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  background: rgb(37, 6, 151);
  background: rgb(19, 18, 18);
  color: white;
  font-weight: 400;
  margin-bottom: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.4rem;
}

nav ul:nth-of-type(1) li a {
  color: rgb(49, 212, 49);
  font-size: 1.4em;
}

nav li a:hover,
li:hover {
  /* border: 1px solid grey; */
  cursor: pointer;
  transition: ease 400ms;
  border-radius: 3px;
  color: aquamarine;
}

/* JUMBOTRON */
.jumbotron {
  height: 90vh;
  background: url(../images/showcase_2.jpg);
  background-size: contain;
  color: white;
}

.jumbotron2 {
  background: url(../images/photo-1526367790999-0150786686a2.jpg);
}

.jumbotron3 {
  background: url(../images/delivery_man.png);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

.landing-inner,
.landing-inner2,
.landing-inner3 {
  background: rgba(0, 0, 0, 0.808);
  height: 90vh;
  overflow-x: hidden;
}

.landing-inner h1,
.landing-inner2 h1,
.landing-inner3 h1 {
  text-align: center;
  padding: 2rem;
  font-weight: 600;
  font-family: "Sansita Swashed", arial;
  margin-top: 0;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 10px;
}

.landing-inner h2,
h5,
.landing-inner2 h2,
h5,
.landing-inner3 h2,
h5 {
  padding: 1rem 3rem;
  font-size: 25px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.jumbotron h1 {
  margin-top: 5rem;
}

/* UTILITIES CLASSES */
.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem 0.8rem;
  cursor: pointer;
  display: block;
  width: fit-content;
}

.btn-default {
  /* display: block; */
  margin: auto;
  /* position: relative;
  right: 48%;
  left: 40%; */
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(2, 160, 2),
    rgb(37, 146, 37),
    rgb(40, 122, 7)
  );
}

.btn:hover {
  filter: brightness(130%);
}

@media screen and (max-width: 995px) {
  .jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
  }

  .landing-inner {
    background: rgba(0, 0, 0, 0.808);
    height: 80vh;
  }
}

@media screen and (max-width: 600px) {
  .jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
  }

  .landing-inner {
    background: rgba(0, 0, 0, 0.808);
    height: 90vh;
  }

  .landing-inner h5 {
    font-size: 18px;
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 55%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.7;
}

.arrow:hover {
  filter: brightness(250%);
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent rgba(73, 73, 73, 0.63) transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent rgba(73, 73, 73, 0.63);
  right: 0;
  margin-right: 30px;
}
